#products_container {
    display: flex;
    height: 100%;

    #sidenav_container {
        height: inherit;
        width: 30%;
        ul {
            height: inherit;
            list-style: none;
            margin: 0px;
            padding: 0px;

            hr {
                margin: .5rem 0 1rem 0;
            }

            li {

                :hover {
                    background-color: #bbb;
                    cursor: pointer;
                }

                a{
                    padding: .4rem;
                    padding-left: 1rem;
                    text-decoration: none;
                    color: #000;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    div {
                        margin-right: 1rem;
                    }
                }

                a.active {
                    background-color: #bbb;
                }
            }
        }
    } 
}

.product-card {
    margin-bottom: 1.5rem;
    padding: 1.5rem;
}